<footer class="wrap">
  <div id="socials" class="group">
    <a href="http://twitter.com/davemcnally" title="My Twitter Profile">{% include _icon_twitter.svg %}</a>
    <a href="http://github.com/davemcnally" title="My GitHub Profile">{% include _icon_github.svg %}</a>
    <a href="http://dribbble.com/davemcnally" title="My Dribbble Profile">{% include _icon_dribbble.svg %}</a>
    <a href="http://feeds.feedburner.com/davemn" title="Subscribe To Blog Upates">{% include _icon_rss.svg %}</a>
  </div>
  <p>Copyright &copy; {{ site.time | date: "%Y" }} — Dave McNally</p>
</footer>