<footer class="wrap">
  <div id="socials" class="group">
    <a href="http://twitter.com/davemcnally" title="My Twitter Profile" onclick="trackOutboundLink('http://twitter.com/davemcnally'); return false;">{% include _icon_twitter.svg %}</a>
    <a href="http://github.com/davemcnally" title="My GitHub Profile" onclick="trackOutboundLink('http://github.com/davemcnally'); return false;">{% include _icon_github.svg %}</a>
    <a href="http://dribbble.com/davemcnally" title="My Dribbble Profile" onclick="trackOutboundLink('http://dribbble.com/davemcnally'); return false;">{% include _icon_dribbble.svg %}</a>
    <a href="http://feeds.feedburner.com/davemn" title="Subscribe To Blog Upates" onclick="trackOutboundLink('http://feeds.feedburner.com/davemn'); return false;">{% include _icon_rss.svg %}</a>
  </div>
  <p>Copyright &copy; {{ site.time | date: "%Y" }} — Dave McNally</p>
</footer>