<header>
    <div class="wrap group">
        <a class="logo" href="{{ site.url }}" title="Back To The Homepage!">{% include _logo.svg %}</a>
        <nav>
            <ul>
                <li><a href="{{ site.url }}/work">Work</a></li>
                <li><a href="{{ site.url }}/blog">Blog</a></li>
                <li><a href="{{ site.url }}/rates">Rates</a></li>
                <li><a href="{{ site.url }}/contact">About &amp; Contact</a></li>
            </ul>
        </nav>
    </div><!-- //wrap group -->
</header>
