<img src="{{ site.url }}/img/showcase.png" alt="Jowalla Design Preview" />
<h3>Jowalla</h3>
<span class="showcase-link"><a href="http://jowalla.com">http://jowalla.com</a></span>

<p>I was approached by the team at Jowalla to help them turn several product concepts and ideas into functioning prototypes. Still very much in development, the variety of work created ranged from initial design to implementing and developing existing designs and ideas. The projects were developed using Grunt for build process and Sass for the CSS.</p>