---
layout: page
title: Rates
---

<div class="group rates_page">
    <h1 class="rates_title">Let’s Talk About Money</h1>
    
    <h2 class="rates_subtitle">It’s not a dirty word.</h2>
    <p>We should get this out of the way first. Money is often left until the end of initial discussions but it shouldn’t be. It’s one of the most, if not <em>the</em> most important aspects of business — and that’s exactly what this is. There’s value in what I do and that’s exactly what you’re paying for.</p>

    <h2 class="rates_subtitle">Transparency promotes honesty.</h2>
    <p>Take a look at a random selection of freelance and/or studio sites and you’ll no doubt find at least a few contact forms that ask for your budget. The justification for this is often "It helps us filter out clients and sort enquiries by priority". The thing is, it’s used a lot of the time to charge the client as much as possible. Oh they have this much money? Well as luck would have it, that’s also the amount we would quote for this project. Pure coincidence, of course.</p>
    <p>Showing your rates up front will keep you honest. The amount you’re charging per hour/day/week should match up with what you’re charging clients — If you quote to match their budget and that doesn’t match up with the correct amount of hours based on your rate, then something clearly doesn’t add up. Charge clients based on your rate, charge them based on the specific project value, charge them what you think the work is worth&hellip; Just stop charging them based on how much you think you can get away with.</p>

    <h2 class="rates_subtitle">Practising what I preach.</h2>
    <p>I couldn’t expect anybody else to do what I’m not willing to do myself, so here it is. My current daily rate is £300 <abbr title="Great British Pound">GBP</abbr>. I list the rate as daily because the minimum duration I take bookings for is one day. In terms of project specifics, I charge 50% up front, to be paid before work commences followed by the remaining 50% upon completion. Most of the projects I work on are for periods of between 1-4 weeks — I’m open to working on larger projects but this gives you an idea of my typical bookings.</p>
</div>

<div class="cta cta_solo group">
    <a href="{% include _email_link.html %}" class="button button-fill" title="Contact me about working together" onclick="trackOutboundLink('{% include _email_link.html %}'); return false;"><span>Hire Me</span></a>
</div>