---
layout: page
title: Tileables
---

<div class="tileables_page">
    <p class="intro">I created Tileables a while back to fill a personal need and to give something back. With needs changing and time limited, I’m putting the project on pause and archiving the existing packs here. The original downloads are still complete, containing both PNG and PAT formats to use as you’d like. If you need something a bit more custom, feel free to get in touch!</p>

    <div class="cta cta_solo group">
        <a href="{% include _email_link.html %}" class="button button-fill" title="Contact me about working together" onclick="trackOutboundLink('{% include _email_link.html %}'); return false;"><span>Hire Me</span></a>
    </div>

    <div class="pack group">
        <h2>Pack 1: Lines</h2>
        <p>The very first pack released! It's a collection of 12 line patterns in varying styles and orientations. These patterns work really well when layered on top of some of our other textures.</p>
        <a href="https://s3-eu-west-1.amazonaws.com/tileables/Pack+01+Lines.zip" class="button button-outline" title="Download Pack 1" onclick="trackOutboundLink('https://s3-eu-west-1.amazonaws.com/tileables/Pack+01+Lines.zip'); return false;"><span>Download</span></a>
    </div>

    <div class="pack group">
        <h2>Pack 2: Paper</h2>
        <p>The paper pack contains 24 mixed textures and spans a variety of paper types. From plain and creased to textured parchment types. If you're looking to add a subtle bit of depth to a background without it being too much, the paper patterns are for you.</p>
        <a href="https://s3-eu-west-1.amazonaws.com/tileables/Pack+02+Paper.zip" class="button button-outline" title="Download Pack 2" onclick="trackOutboundLink('https://s3-eu-west-1.amazonaws.com/tileables/Pack+02+Paper.zip'); return false;"><span>Download</span></a>
    </div>

    <div class="pack group">
        <h2>Pack 3: Rust</h2>
        <p>A mixture of 20 rust and decay textures, including different surfaces and levels of detail makes these textures perfect for creating a grunge or urban background. Used carefully, they can easily blend into other backgrounds for a more subtle look.</p>
        <a href="https://s3-eu-west-1.amazonaws.com/tileables/Pack+03+Rust.zip" class="button button-outline" title="Download Pack 3" onclick="trackOutboundLink('https://s3-eu-west-1.amazonaws.com/tileables/Pack+03+Rust.zip'); return false;"><span>Download</span></a>
    </div>

    <div class="pack group">
        <h2>Pack 4: Fabric</h2>
        <p>20 fabric based textures which cover a wide range of materials from cotton to leather and everything in between. There are varying levels of detail in each one, making this pack a versatile one which is suited to a lot of different applications.</p>
        <a href="https://s3-eu-west-1.amazonaws.com/tileables/Pack+04+Fabric.zip" class="button button-outline" title="Download Pack 4" onclick="trackOutboundLink('https://s3-eu-west-1.amazonaws.com/tileables/Pack+04+Fabric.zip'); return false;"><span>Download</span></a>
    </div>

    <div class="pack group">
        <h2>Pack 5: Wood</h2>
        <p>20 different and unique wooden textures and patterns. This pack covers various different types of wood from planks and pieces to more abstract details and close ups. Subtlety is key with these to avoid the old photo-realistic cliché wood look!</p>
        <a href="https://s3-eu-west-1.amazonaws.com/tileables/Pack+05+Wood.zip" class="button button-outline" title="Download Pack 5" onclick="trackOutboundLink('https://s3-eu-west-1.amazonaws.com/tileables/Pack+05+Wood.zip'); return false;"><span>Download</span></a>
    </div>

    <div class="pack group">
        <h2>Pack 6: Grids</h2>
        <p>One of the most requested pack types I got over email was to create some grids and so here you go! There's 35 individual grid patterns in a variety of sizes, widths and styles. From small 4px squares with a 1px stroke, all the way up to 50px squares with 3px strokes. There's also dotted/dashed styles included for complete customization. These patterns work best when combined with natural textures and at a low opacity.</p>
        <a href="https://s3-eu-west-1.amazonaws.com/tileables/Pack+06+Grids.zip" class="button button-outline" title="Download Pack 6" onclick="trackOutboundLink('https://s3-eu-west-1.amazonaws.com/tileables/Pack+06+Grids.zip'); return false;"><span>Download</span></a>
    </div>

    <div class="pack group">
        <h2>Pack 7: Outdoors</h2>
        <p>I’ve wanted to answer the requests for a nature-based pack for a while and here it is! Subtlety is a must with this pack — the textures are very contrasting and shouldn’t be used without filters!</p>
        <a href="https://s3-eu-west-1.amazonaws.com/tileables/Pack+07+Outdoors.zip" class="button button-outline" title="Download Pack 7" onclick="trackOutboundLink('https://s3-eu-west-1.amazonaws.com/tileables/Pack+07+Outdoors.zip'); return false;"><span>Download</span></a>
    </div>
</div>