---
layout: page
title: Work
---

<div class="group work_page">

<section class="showcase showcase_solo showcase-angel">
    <div class="group">

        {% include _showcase.html %}
    </div>
</section>

<section class="other_clients group">
    <h4 class="other_title">Clients &amp; Projects</h4>


    <div class="other_column other_column_1">
        <p class="a_client"><a href="http://sideway.com" title="Sideway">Sideway</a></p>
        <p class="a_client"><a href="http://callnine.com" title="Call9">Call9</a></p>
        <p class="a_client"><a href="http://convox.com" title="Convox">Convox</a></p>
    </div>
    <div class="other_column other_column_2">
        <p class="a_client"><a href="http://jowalla.com" title="Jowalla">Jowalla</a></p>
        <p class="a_client"><a href="http://angellakes.co.uk" title="Angel Lakes">Angel Lakes</a></p>
        <p class="a_client"><a href="http://dave.mn/tileables/" title="Tileables">Tileables</a></p>
    </div>
    <div class="other_column other_column_3">
        <p class="a_client"><a href="https://github.com/ben-eb/cssnano" title="CSSnano">CSSnano</a></p>
        <p class="a_client"><a href="http://www.redeemercitytocity.com" title="Redeemer City To City">Redeemer City To City</a></p>
        <p class="a_client"><a href="http://smokebbq.co.uk" title="Smoke BBQ">Smoke BBQ</a></p>
    </div>

</section>

<div class="cta cta_solo group">
    <a href="{% include _email_link.html %}" class="button button-fill" title="Contact me about working together"><span>Hire Me</span></a>
</div>

</div><!-- //summary -->
